body {
    background-color: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .logo {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  #head-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  #head-nav ul li {
    padding-left: 0;
    padding-right: 0.25rem;
  }

  #head-nav ul li a {
    color: #000;
    text-decoration: none;
  }

  #head-nav ul li:after {
    content: "|";
    display: inline-block;
    margin: 0 0.15rem;
    color: blue;
  }

  #head-nav ul li:last-child:after{
    padding-left: 0.75rem;
    content: "";
  }

  #login{
    background-color: #f6be00;
    color: #FFF;
    padding: 0 0.5rem;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .main-screen {
    background-image: url('hero-image.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-screen h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .main-screen p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .cta-button {
    width: 5rem;
    height: 2rem;
    float: right;
    background-color: #000;
    color: #FFF;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
  }

  .features {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feature-item {
    flex-basis: 30%;
  }

  .feature-item img {
    width: 100%;
  }

  .feature-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .feature-item p {
    font-size: 16px;
  }

  footer {
    background-color: #FFF;
    color: #000;
    padding: 20px;
    text-align: center;
  }

  footer p {
    margin: 0;
  }